.content-container {
    position: relative;
    top: 30px;
    left: 10px;
}

.info-header {
    font-size: 40px;
    line-height: 1;
}

.info-section {
    margin-top: 15px;
}

.info-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-item {
    font-size: 18px;
    line-height: 1.25;
    word-spacing: 2px;
}