.tip {
    position: relative;
    top: 5em;
    left: 2em;
    color: #c1c1c1;
    font-size: 3em;
    line-height: 1;
}

.side-bar {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}